<!DOCTYPE html>
<html>
<head>
  <title>Hitme Messenge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- Socket.IO -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <!-- Axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
</head>
<body>
  <div id="messages"></div>
  <form>
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="Write a message">
        <button class="btn btn-primary" type="submit" id="send">Send</button>
      </div>
    </div>
  </form>
  <!-- <button class="btn btn-danger" id="clear">Clear</button> -->

  <script>
    var chatStream = [];

    const displayMessages = (messages) => {
      console.log("Displaying messages!");
      for (var i in messages) {
        $('#messages').append(`<div class="message"><b>${messages[i].author}</b>: ${messages[i].content}</div>`);
      }
    }

    $(document).ready(() => {
      console.log('Ready!');
      const socket = io(); // Initialize Socket.IO instance

      // GET messages from chat database
      axios.get('/chats')
        .then(res => {
          console.log(res);
          displayMessages(res.data);
        }).catch(err => {
          console.log(err);
        });

      // Form submit handler:
      $('form').submit(() => {
        var message = {
          author: 'Anon',
          content: $('.form-control').val()
        }

        axios.post('/chats', message)
          .then(res => {
            console.log(res);
            socket.emit('chat', message); 
          });

        $('.form-control').val(''); // Resets form to empty
        return false;
      });

      $('#clear').on('click', () => {
        axios.delete('/chats/clear')
          .then((res) => {
            console.log(res);
          });
      });

      // Listening for 'chat' event:
      socket.on('chat', message => {
        chatStream.push(message);
        $('#messages').append(`<div class="message"><b>${message.author}</b>: ${message.content}</div>`);
        console.log(chatStream);
      });
    });
  </script>
</body>
</html>